<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">

</head>
    <body>

    <div class="container blog-content-container">

		<form  th:action="@{/login}" method="post">
			 <div class=" col-md-5" th:if="${loginError}">
				<p class="blog-label-error" th:text="${errorMsg}"></p>
			</div>
			
			<h2 >[[${pageInfo.loginPlease}]]</h2>
			
			<div class="form-group col-md-5">
				<label for="username" class="col-form-label">[[${pageInfo.account}]]</label>
				<input type="text" class="form-control" id="username" name="username" maxlength="50" th:placeholder="${pageInfo.typeAccount}" required>
	 
			</div>
			<div class="form-group col-md-5">
				<label for="password" class="col-form-label">[[${pageInfo.passwd}]]</label>
				<input type="password" class="form-control" id="password" name="password" maxlength="30" th:placeholder="${pageInfo.typePasswd}" required>
			</div>
			<div class="form-group col-md-5">
				 <input type="checkbox" name="remember-me"> [[${pageInfo.rememberMe}]]
			</div>
			<div class="form-group col-md-5">
				<button type="submit" class="btn btn-primary">[[${pageInfo.login}]]</button>
				<a href="/register" style="font-size:17px;color:#9da1a5;margin-left:15px;">[[${pageInfo.register}]]</a>
			</div>

		</form>
    </div> <!-- /container -->
	
	<div style="position:fixed;bottom:0px;width:100%;">
	<div th:replace="~{fragments/footer :: footer}">...</div>
	</div>
    </body>
</html>